.gitattributes export-ignore
Planet Output File.txt export-ignore
README.md export-ignore
The Planet MoonHack Project.py export-ignore
All.wav export-ignore
Astronomical.wav export-ignore
Auto.wav export-ignore
Back.wav export-ignore
Both.wav export-ignore
Both.wav export-ignore
Disable.wav export-ignore
ERROR.wav export-ignore
First quarter moon.wav export-ignore
Full moon.wav export-ignore
INVALID.wav export-ignore
Jupiter.wav export-ignore
Last quarter moon.wav export-ignore
Manual.wav export-ignore
Mars.wav export-ignore
Mercury.wav export-ignore
Moon.wav export-ignore
Nautical.wav export-ignore
Neptune.wav export-ignore
New moon.wav export-ignore
None.wav export-ignore
Normal.wav export-ignore
Phases.wav export-ignore
Saturn.wav export-ignore
Sun.wav export-ignore
Uranus.wav export-ignore
Venus.wav export-ignore
Planets.wav export-ignore
Repurposed time code for project.py export-ignore
The time.py export-ignore
