certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
decorator==5.1.1
ephem==4.1.4
future==0.18.3
geocoder==1.38.1
geographiclib==2.0
geopy==2.3.0
h3==3.7.6
idna==3.4
numpy==1.25.2
playsound==1.2.2
pycparser==2.21
pytz==2023.3
pywin32==306
ratelim==0.1.6
requests==2.31.0
six==1.16.0
timezonefinder==6.2.0
tzdata==2023.3
urllib3==2.0.4
wget==3.2
WMI==1.5.1
backports.zoneinfo;python_version<"3.9"